body {
    width: 900px;
    margin: 0 auto;
    font-family: 'Oxygen', sans-serif;
}

.input-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.todo-input,
.todo-button {
    padding: 10px;
}

.todo-preview {
    text-align: center;
}

.filter {
    margin-bottom: 30px;
}

.filter a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: black;
    box-sizing: border-box;
    position: relative;
}

.filter-active,
.filter a:hover {
    border-bottom: black solid 3px;
}

.todo-list {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-item {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    border-bottom: lightgray solid 1px;
}

.todo-content {
    padding: 15px;
    cursor: pointer;
}

.todo-content:hover {
    opacity: .7;
}

.todo-content h2 {
    margin: 0;
    margin-bottom: 10px;
}

.todo-content b {
    padding-right: 15px;
}

.btn-toggle,
.btn-remove {
    align-self: center;
    justify-self: center;
    border: 0;
    font-size: 40px;
}

.doing {
    color: rgb(122, 221, 122);
}

.done {
    color: gainsboro;
}

.txt-done {
    text-decoration: line-through;
    color: gainsboro;
}

.btn-remove {
    color: tomato;
}